language: ruby

env:
  global:
    - ORACLE_COOKIE=sqldev
    - ORACLE_FILE=oracle11g/xe/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
    - ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe
    - ORACLE_SID=XE

matrix:
  include:
    - dist: precise
      env:
        - DIST=precise
        - SUDO=false
      addons:
        apt:
          packages:
            - libaio-dev
            - rpm
      sudo: false

    - dist: precise
      env:
        - DIST=precise
        - SUDO=true
      addons:
        apt:
          packages:
      sudo: required

    - dist: trusty
      env:
        - DIST=trusty
        - SUDO=false
      addons:
        apt:
          packages:
            - libaio-dev
            - rpm
      sudo: false


    - dist: trusty
      env:
        - DIST=trusty
        - SUDO=true
      addons:
        apt:
          packages:
      sudo: required

before_install:
  - if [[ $SUDO = false ]]; then export ORACLE_HOME=$HOME/$ORACLE_HOME ; fi
  - export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:$ORACLE_HOME/lib
  - bash -x ./download.sh
  - bash -x ./install.sh
