language: ruby
sudo: required

env:
  global:
    - ORACLE_COOKIE=sqldev
    - ORACLE_FILE=oracle11g/xe/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
    - ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe
    - ORACLE_SID=XE

matrix:
  include:
    - dist: precise
      env: PRECISE=1
    - dist: trusty
      env: TRUSTY=1

before_install:
  - ./download.sh
  - ./install.sh
