language: ruby
sudo: required

env:
  global:
    - ORACLE_COOKIE=sqldev
    - ORACLE_FILE=oracle11g/xe/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
    - ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe
    - ORACLE_SID=XE

matrix:
  include:
    - env: APT_ADDON=0 DIST=precise
      dist: precise
      addons:
        apt: false
    - env: APT_ADDON=0 DIST=trusty
      dist: trusty
      addons:
        apt: false
    - env: APT_ADDON=1 DIST=precise
      dist: precise
      addons:
        apt:
          packages:
            - libaio1
            - rpm
      sudo: required
    - env: SUDO=0 DIST=precise
      dist: precise
      sudo: false
      addons:
        apt:
          packages:
            - libaio1
            - rpm

    - env: SUDO=0 DIST=trusty
      dist: trusty
      sudo: false
      addons:
        apt:
          packages:
            - libaio1
            - rpm

before_install:
  - bash -x ./download.sh
  # In container mode, Oracle XE is relocated into the $HOME
  - test -u /usr/bin/sudo || export ORACLE_HOME=$HOME/oracle/$ORACLE_HOME
  - bash -x ./install.sh
  # LD_LIBRARY_PATH is only needed for container mode
  - test -u /usr/bin/sudo || export LD_LIBRARY_PATH=$ORACLE_HOME/lib:$LD_LIBRARY_PATH
