language: ruby
sudo: required

env:
  global:
    - ORACLE_COOKIE=sqldev
    - ORACLE_FILE=oracle11g/xe/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
    - ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe
    - ORACLE_SID=XE

matrix:
  include:
    - env: APT_ADDON=0 DIST=precise
      dist: precise
      addons:
        apt: false
    - env: APT_ADDON=0 DIST=trusty
      dist: trusty
      addons:
        apt: false
    - env: APT_ADDON=1 DIST=precise
      dist: precise
      addons:
        apt:
          packages:
            - libaio1
            - rpm
      sudo: required
    - env:
        - ORACLE_HOME=/home/travis/u01/app/oracle/product/11.2.0/xe
          LD_LIBRARY_PATH=/home/travis/u01/app/oracle/product/11.2.0/xe/lib
          ORACLE_SID=XE
      sudo: false
      addons:
        apt:
          packages:
            - libaio1
            - rpm

before_install:
  - bash -x ./download.sh
  - bash -x ./install.sh
